* {
	/* white-space: pre-wrap; */
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

textarea {
    background-color: transparent;
    resize: none;
    outline: none;
	border-radius: 20px;
	padding: 20px;
}

input {
	display: auto; 
	padding: 0.625rem; 
	border-radius: 0.5rem; 
	border-width: 1px; 
	border-color: #D1D5DB; 
	width: auto; 
	font-size: 0.875rem;
	line-height: 1.25rem; 
	color: #111827; 
	background-color: #F9FAFB; 

}

.profile-img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: #e9ecef;
}

.comment {
	border-radius: 20px;
	background-color: #e9ecef;
	padding: 20px;
}

.comment-div {
	width: 100%;
	margin: auto;
}

span.comment-id {
	font-weight: bold;
}

span.del-span {
	color: #c21807;
}

span.bbs-title {
	color: #212529
}

.pagination > li > a
{
    background-color: white;
    color:  #212529 !important;
}

.pagination > .active > a {
	background-color: #212529;
    color: #ffffff !important;
}

.pagination > .active > a:hover {
	background-color: #212529;
    color: white;
	border: solid 1px #212529 !important;
}

.pagination > .active {
	background-color: #212529 !important;
    color: #ffffff;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
    border-color: #ddd;
}


.pagination > .active > a:hover
{
    background-color: #212529 !important;
	color: #ffffff;
    border: solid 1px #ffffff;
}



/* button */
.button-39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-39:hover {
  background-color: rgb(249,250,251);
}

.button-39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button-39:focus-visible {
  box-shadow: none;
}